TD.topics { ; color: #666666; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; clip:  rect(   )} 
TD.topics A:link {FONT-WEIGHT: bold; FONT-SIZE: 10px; WIDTH: 100%; text-decoration: none; color: #666666; clip:    rect(   )} 
TD.topics A:hover {COLOR: #666666; text-decoration: underline; font-weight: bold; clip:  rect(   )} 
TD.topics A:visited {WIDTH: 100%; text-decoration: none; color: #666666} 
table { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;} 
body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;} 
a:link {color:#006699; text-decoration: underline;} 
a:active {color:#006699; text-decoration: underline;} 
a:visited {color:#006699; text-decoration: underline;}
a:hover {color:#0099CC; text-decoration: underline;}.headline {  font: bold 12px Verdana, Arial, Helvetica, sans-serif; color: #990000}
.c {  font: bold 24px Verdana, Arial, Helvetica, sans-serif; color: #000000}
.top {  color: #FFFFFF; font: 10px Verdana, Arial, Helvetica, sans-serif}
.boldie {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.table {  padding: 5px 5px}
